body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#head{
    .container{
        overflow: hidden;
        height: 100vh;
        position: relative;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12,1fr);
        .square{
            padding-top: 35px;
            padding-left: 65px;
            grid-area: 1 / 1 / span 10 / span 7;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(7,1fr);
            .nav{
                align-content: space-around;
                grid-area: 1 / 1 / span 1 / span 5;
                .letter{
                    position: relative;
                    bottom: 22px;
                    font-size: 45px;
                    font-weight: bold;
                }
                .nav_items{
                    float: right;
                    .link{
                        cursor: pointer;
                        font-size: 20px;
                        padding-right: 15px;
                        color: rgb(71, 71, 71);
                        font-weight: lighter;
                    }
                    .link:nth-child(1){
                        animation-delay: .2s;
                    }
                    .link:nth-child(2){
                        animation-delay: .4s;
                    }
                    .link:nth-child(3){
                        animation-delay: .6s;
                    }
                    .selected{
                        color: black;
                        font-weight: bold;
                    }
                }
            }
            .content{
                margin-top: 25px;
                grid-area: 3 / 1 / span 4 / span 5;
                animation-delay: .4s;
                animation-duration: 2.1s;
                h1{
                    margin: 0;
                    font-size: 55px;
                }
                .year{
                    position: relative;
                    color: red;
                    font-weight: bold;
                    &::after{
                        content:'';
                        position: absolute;
                        top: 50%;
                        left: 50px;
                        height: 2px;
                        width: 25px;
                        background-color: red;
                    }
                }
            }
        }
        .square_image{
            grid-area: 1 / 8 / span 10 / span 5;
            background: url('../assets/chaise.jpg') no-repeat center;
            background-size: cover;
            position: relative;
            &:before{
                position: absolute;
                height: 100%;
                width: 100%;
                content: ' ';
                background-color: rgb(244, 248, 247);  
                animation: ui_image 1s forwards ease-in-out; ;
                animation-delay: .7s;
                @keyframes ui_image{    
                    to{
                        transform: translateX(100%)
                    }
                }
            
            }
        }
        .bottom_white{
            padding-left: 50px;
            position: relative;
            grid-area: 11 / 1 / span 2 / span 7;
            background-color: rgb(244, 248, 247);
            &:before{
                position: absolute;
                content: '';
                width: 100%;
                left: 0;
                top: 100%;
                height: 100%;
                background-color: rgb(39,39,39);
                transition: .5s;
            }
            &:hover::before{
                top: 0;
            }
            // &:hover > .arrow{
            //     transform: rotate(90deg);
            // }
            .text{
                mix-blend-mode: difference;
                font-weight: 600;
                position: absolute;
                top: 50%;
                color: white;
                transform: translateY(-50%);
            }
            .arrow{
                transition-duration: .4s;
                cursor: pointer;
                height: 30px;
                position: absolute;
                left: 90%;
                top: 50%;
                mix-blend-mode: difference;
                transform: translateY(-50%);
            }
        }
        .bottom_black{
            position: relative;
            grid-area: 11 / 8 / span 2 / span 5;
            background-color: rgb(39,39,39);
            .center{
                padding-left: 50px;
                width: 100%;
                position: absolute;
                top: 50%;
                color: white;
                transform: translateY(-50%);
                .first, .second{
                    display: inline-block;
                    font-weight: 500;
                    font-size: 18px;
                }
                .first{
                    padding-right: 25px;
                }
                .second{
                    padding-left: 25px;
                }
                .hr{
                    height: 100%;
                    display: inline-block;
                    div{
                        margin-bottom: 5px;
                    }
                    div:nth-child(1){
                        transition: all 1.4s;
                        display: inline-block;
                        height: 2.6px;
                        width: 200px;
                        background-color: white;
                    }
                    .point{
                        margin-left: 15px;
                        display: inline-block;
                        width: 4px;
                        height: 2.6px;
                        background-color: white;
                    }
                }
            }
        }
    }
}

