body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#head .container {
  overflow: hidden;
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}
#head .container .square {
  padding-top: 35px;
  padding-left: 65px;
  grid-area: 1/1/span 10/span 7;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
}
#head .container .square .nav {
  align-content: space-around;
  grid-area: 1/1/span 1/span 5;
}
#head .container .square .nav .letter {
  position: relative;
  bottom: 22px;
  font-size: 45px;
  font-weight: bold;
}
#head .container .square .nav .nav_items {
  float: right;
}
#head .container .square .nav .nav_items .link {
  cursor: pointer;
  font-size: 20px;
  padding-right: 15px;
  color: #474747;
  font-weight: lighter;
}
#head .container .square .nav .nav_items .link:nth-child(1) {
  animation-delay: 0.2s;
}
#head .container .square .nav .nav_items .link:nth-child(2) {
  animation-delay: 0.4s;
}
#head .container .square .nav .nav_items .link:nth-child(3) {
  animation-delay: 0.6s;
}
#head .container .square .nav .nav_items .selected {
  color: black;
  font-weight: bold;
}
#head .container .square .content {
  margin-top: 25px;
  grid-area: 3/1/span 4/span 5;
  animation-delay: 0.4s;
  animation-duration: 2.1s;
}
#head .container .square .content h1 {
  margin: 0;
  font-size: 55px;
}
#head .container .square .content .year {
  position: relative;
  color: red;
  font-weight: bold;
}
#head .container .square .content .year::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50px;
  height: 2px;
  width: 25px;
  background-color: red;
}
#head .container .square_image {
  grid-area: 1/8/span 10/span 5;
  background: url("../assets/chaise.jpg") no-repeat center;
  background-size: cover;
  position: relative;
}
#head .container .square_image:before {
  position: absolute;
  height: 100%;
  width: 100%;
  content: " ";
  background-color: #f4f8f7;
  animation: ui_image 1s forwards ease-in-out;
  animation-delay: 0.7s;
}
@keyframes ui_image {
  to {
    transform: translateX(100%);
  }
}
#head .container .bottom_white {
  padding-left: 50px;
  position: relative;
  grid-area: 11/1/span 2/span 7;
  background-color: #f4f8f7;
}
#head .container .bottom_white:before {
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  top: 100%;
  height: 100%;
  background-color: #272727;
  transition: 0.5s;
}
#head .container .bottom_white:hover::before {
  top: 0;
}
#head .container .bottom_white .text {
  mix-blend-mode: difference;
  font-weight: 600;
  position: absolute;
  top: 50%;
  color: white;
  transform: translateY(-50%);
}
#head .container .bottom_white .arrow {
  transition-duration: 0.4s;
  cursor: pointer;
  height: 30px;
  position: absolute;
  left: 90%;
  top: 50%;
  mix-blend-mode: difference;
  transform: translateY(-50%);
}
#head .container .bottom_black {
  position: relative;
  grid-area: 11/8/span 2/span 5;
  background-color: #272727;
}
#head .container .bottom_black .center {
  padding-left: 50px;
  width: 100%;
  position: absolute;
  top: 50%;
  color: white;
  transform: translateY(-50%);
}
#head .container .bottom_black .center .first, #head .container .bottom_black .center .second {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
}
#head .container .bottom_black .center .first {
  padding-right: 25px;
}
#head .container .bottom_black .center .second {
  padding-left: 25px;
}
#head .container .bottom_black .center .hr {
  height: 100%;
  display: inline-block;
}
#head .container .bottom_black .center .hr div {
  margin-bottom: 5px;
}
#head .container .bottom_black .center .hr div:nth-child(1) {
  transition: all 1.4s;
  display: inline-block;
  height: 2.6px;
  width: 200px;
  background-color: white;
}
#head .container .bottom_black .center .hr .point {
  margin-left: 15px;
  display: inline-block;
  width: 4px;
  height: 2.6px;
  background-color: white;
}

/*# sourceMappingURL=main.css.map */
