
body{
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 150px;
}
#header{
    padding-top: 50px;
    height: 100vh;
    max-height: 100vh;
}
#header .row, #header .container{
    height: 100%;
}
#header .image{
    max-width: 800px;
}
#header .label{
    color: grey;
    font-size: 15px;
}
#header h1{
    font-weight: bold;
    font-size: 75px;
}
#header .title-col{
    margin-top: 320px;
}
#header .title-label{
    padding-top: 20px;
}
#header .hr{
    width: 150%;
    height: 3px;
    background-color: red;
}
#scan{
    margin-top: 150px;
}
#scan h2{
    font-weight: bold;
}
#scan p{
    padding-top: 50px;
}
#scan .image{
    max-width: 700px;
}
#scan .hr{
    position: absolute;
    left: 50%;
    width: 300px;
    height: 3px;
    background-color: red;
    transform: rotate(-90deg);
}
#innovate{
    padding-top: 150px;
}
#innovate .hr{
    margin-top: 20px;
    width: 35%;
    height: 3px;
    background-color: red;
}
#innovate{
    padding-top: 150px;
}
#innovate h4{
    padding-top: 15px;
}
#innovate .card-ui-back{
    margin-top: 50px;
    position: absolute;
    height: 400px;
    width: 100%;
    max-width: 1200px;
    border-radius: 20px;
    background-color: rgba(22, 21, 21, 0.322);
}
#innovate .card-ui{
    margin-top: 50px;
    height: 350px;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}
#innovate .card-container{
    margin-top: 50px;
}